<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Equipos</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	<body class="card-body">
		<div class="card text-white bg-dark mb-3">
		  <div class="card-header">Búsqueda de equipos</div>
		  <div class="card-body">
				<form th:action="@{/actSearchEquipo}" th:object="${searchedEquipo}" method="POST">
					<div class="form-group">
			  			<label for="inpRegistration">Nombre</label>
			  			<input type="text" class="form-control" id="inpTEquRegistr" name="nombre" placeholder="Nombre del equipo.">
					</div>
					<div class="form-group">
						  <label for="inpMarca">Año de creacion</label>
						  <input type="text" class="form-control" id="inpTbrand" name="anyoCrea" placeholder="Año de creación.">
					</div>
					<div class="form-group">
						  <label for="inpModelo">Estadio</label>
						  <input type="text" class="form-control" id="inpTmodel" name="estadio" placeholder="Nombre de estadio.">
					</div>
					<button type="submit" name="btnSearchEquipoBy" class="btn btn-success">Buscar</button>
					<a class="btn btn-primary" href="index" role="button" id="aBtnReturn">Volver</a>
				</form>
			  </div>
			</div>
	</body>
</html>