<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>CONCESIONARIO</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial|Readex+Pro">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
 		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
  		<style type="text/css">
  			body {background-image: url("img/fondo.png");
  				  height: 600px;
				  background-position: center;
				  background-repeat: no-repeat;
				  background-size: cover;
				  position: relative;
				  font-family: Questrial;}
				  
	        .menus {padding-left:20px;
	        		padding-top: 25px;}
	        		
	        nav {font-family: Readex Pro;
	        	font-weight: bold;}
	        input[type="text"] { text-transform: capitalize;}  
  		</style>
	</head>
	<body class="card-body">
	
	<!---------------------------------------Cuerpo de la cabecera de la página------------------------------------------------------>
		
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<img th:src="@{img/logo.png}" width="20%" height="20%">
			
			<div class="dropdown mb-3">
				<a class="navbar-brand dropdown-toggle text-white menus" href="#" id="navbarDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Equipos</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/showEquiposView}">Ver todos los equipos.</a>
						<a class="dropdown-item" th:href="@{/searchEquipoByView}">Buscar equipo.</a>
						<a class="dropdown-item" th:href="@{/newEquipoView}">Añadir equipo.</a>
					</div>
			</div>	
			
			<div class="dropdown mb-3">
				<a class="navbar-brand dropdown-toggle text-white menus" href="#" id="navbarDropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Futbolistas</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/showFutbolistasView}">Ver todos los futbolistas.</a>
						<a class="dropdown-item" th:href="@{/searchFutbolistaByView}">Buscar futbolista.</a>
						<a class="dropdown-item" th:href="@{/newFutbolistaView}">Añadir futbolista.</a>
					</div>
			</div>	
			
			<div class="dropdown mb-3">
				<a class="navbar-brand dropdown-toggle text-white menus" href="#" id="navbarDropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Trayectorias</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/showTrayectoriaView}">Historial de futbolistas.</a>
						<a class="dropdown-item" th:href="@{/searchTrayectoriaByView}">Historial de equipos.</a>
						<a class="dropdown-item" th:href="@{/newTrayectoriaView}">Añadir trayectoria.</a>
					</div>
			</div>	
		</nav>
		
		
		
		<!---------------------------------------Cuerpo la página------------------------------------------------------>
		<div class="card text-white bg-dark mb-3">
		  	<div class="card-header">Equipos</div>
			<div class="card-body">
				<table class="table table-striped table-dark">
					<thead class="thead-light">
						<tr>
							<th scope="col">ID del equipo</th>
							<th scope="col">Nombre</th>
							<th scope="col">Año de creación</th>
							<th scope="col">Estadio</th>
							<th scope="col" th:hidden="${btnDropEquipoEnabled}">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="equ : ${equipoListView}">
							<tr>
								<td scope="row" th:text="${equ.id}" />
								<td scope="row" th:text="${equ.nombre}" />
								<td scope="row" th:text="${equ.anyoCrea}" />
								<td scope="row" th:text="${equ.estadio}" />
								<td scope="row" th:hidden="${btnDropEsquipoEnabled}">
									<form action="actDropEquipo" method="post">
										<button th:disabled="${btnDropEquipoEnabled}" type="submit"
											id="btnDropEquipo" name="equId" th:value="${equ.id}"
											class="btn btn-danger">✔</button>
									</form>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<a class="btn btn-primary" th:href="@{index}" id="aBtnReturn" role="button">Volver</a>
			</div>
		</div>
	</body>
</html>